* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container  {
    font-family: "Kanit";
}

.card:hover {
    transition: all .3s ease;
    z-index: 1;
    scale: 1.15;
    box-shadow: 0px 0px 8px 5px #b5b5b5;
}

.flying {
    background-color: #93bef0;
}

.poison {
    background-color: #be219c;
}

.bug {
    background-color: #45b12b;
}

.fire {
    background-color: #f36845;
}

.normal {
    background-color: #969696;
}

.water {
    background-color: #4788ff;
}

.grass {
    background-color: #007c29;
}

.electric {
    background-color: #e6e600;
}

.ground {
    background-color: #bd5a3b;
}

.rock {
    background-color: #cec46a;
}

.fighting {
    background-color: #bd2f2f;
}

.psychic {
    background-color: #ff2a6a;
}

.ghost {
    background-color: #545aaf;
}

.dragon {
    background-color: blue;
}

.fairy {
    background-color: #ff82ac;
}

.steel {
    background-color: #738fac;
}

.ice {
    background-color: #48ddd6;
}

.dark {
    background-color: #464646;
}

.type-icon {
    border-radius: 5px;
    margin-bottom: 0;
}
